<div track-id="{{ id }}" class="spotify-object {{#ifCond type '===' 'track'}}track{{else}}{{#ifCond type '===' 'artist'}}artist{{else}}album{{/ifCond}}{{/ifCond}}">
  <div class="inner">
    <div class="icon" style="
      {{#equal type 'track' }}
        {{#if album.images.[0].url}}
        background-image: url('{{ album.images.[0].url }}');
        {{else}}
        background-image: url('/no-img');
        {{/if}}
      {{else}}
        {{#if images.[0].url}}
        background-image: url('{{ images.[0].url }}');
        {{else}}
        background-image: url('/no-img');
        {{/if}}
      {{/equal}}">
    </div>

    <div class="copy">
      <div class="header">
        <h2>{{ name }}</h2>
      </div>
      <div class="body">
       {{#ifCond type '===' 'artist' }}
            <span class="description">Artist</span>
          {{/ifCond}}
          {{#ifCond type '===' 'album' }}
            <span class="description">Album by <a href=""> {{ artist.[0].name }}</a></span>
          {{/ifCond}}
          {{#ifCond type '===' 'track' }}
            <span class="description">Track by <a href=""> {{ artists.[0].name }}</a></span>
          {{/ifCond}}
      </div>
    </div>
  </div>
</div>