<div track-id="{{ id }}" class="voting-object {{#ifCond type '===' 'track'}}track{{else}}{{#ifCond type '===' 'artist'}}artist{{else}}album{{/ifCond}}{{/ifCond}}">
    <div class="copy">
      <div class="header">
        <h2>{{ name }}</h2>
      </div>
      <div class="body">
        <span>{{ artists.[0].name }}</span>
      </div>
    </div>
    <div class="vote-button{{#if voted_for}} active{{/if}}" track-id="{{ id }}"></div>
  </div>
</div>